<div class="todo" data-todo_id="<%= todo.id %>">
  <span>
    <%= todo.descripcion %>
  </span>
  <input type="checkbox" class="todo_checkbox" <%= todo.completado ? "checked='checked'" : '' %>>
  <button class="eliminar_todo">eliminar</button>
</div>