<% if @new_todo.new_record? %>
  window.Helpers.Notification.create("alert-error","Hubo un problema.");
<% else %>
  $(".todos_los_todos").prepend("<%= j render('todo', todo: @new_todo) %>");
  $("#todo_descripcion").val("");
    window.Helpers.Notification.create("alert-success","Tienes algo más que hacer.");
<% end %>