<div class="todos_los_todos">
  <% @todos.each do |todo| %>
    <%= render 'todo', todo: todo %>
  <% end %>
</div>

<%= form_for @new_todo, :remote => true do |f| %>
  <%= f.text_field :descripcion, :class => "new_todo_input", :required => true %>
<% end %>

<%= #javascript_tag "TodosController.init()"
%>
