html
  margin: 0
  padding: 0
  background-color: #aaa
  font-family: 'LucidaGrande'
  
body
  background-color: #fff
  margin: 1em auto
  padding: 1em
  max-width: 600px
  border-radius: 0.3em
  box-shadow: 0 2px 10px #333
  header
    h1
      text-align: center
    #alerts
      text-align: center
      & > div
        padding: 0.3em
        margin: 0.3em
        border: 1px solid #aaa
        border-radius: 0.3em
        
      
input[type=text], input[type=password]
  border-radius: 0.3em
  padding: 0.5em
  

.alert-error
  color: red

.alert-success
  color: green