<%= form_tag user_sessions_path do %>
  <%= text_field_tag :username, params[:username], :placeholder => "Nombre de usuario", :required => true %>
  <%= password_field_tag :password, "", :placeholder => "Contraseña" %>
  <%= submit_tag "Iniciar sesión", :disable_with => "Entrando..", :required => true %>
<% end %>