<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <h1>
      Por hacer
    </h1>
    <div id="alerts">
      <% flash.each do |key, value| %>
        <div class='<%= key %>'>
          <%= value %>
          <span class='close_alert'>
            X
          </span>
        </div>
      <% end %>
    </div>
    <div id="current_user">
      <%= render 'layouts/logged_in' %>
    </div>
  </header>
  <div id="container">
    <%= yield %>
  </div>
  <footer>
    
  </footer>

</body>
</html>
